@import url('https://fonts.googleapis.com/css?family=Montserrat');



.header {
  color: #FF6530;
  font-size: 80rem;
  text-align: center;
  margin-top: 5rem;
  font-family: "Montserrat";
  
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.left {
  margin: 8rem auto auto 10rem;
  font-size: 0.8rem !important;
  color: black;
  font-family: "Montserrat";
  font-weight: bolder;
}

.right {
  position: relative;
}

img {
  position: relative;
  margin-top: 5rem;
  right: -10rem;
  z-index: 9;

}

.left-text {
  color: grey;
  font-family: "Arial";
  font-weight: bold;
}

.subtext {
  margin: 3rem auto auto -7rem;
}

.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 720px solid transparent;
  border-right: 900px solid #FF6530;
  border-bottom: 0px solid transparent;
  top: -10rem;
  right: -1.2rem;
}


.text-space {
  padding-top: 2rem;
}